.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.city-input {
  width: 12rem;
  height: 2.2rem;
  padding-right: 50px;
  border-radius: 5rem;
  background: #eee;
  box-shadow: 0 8px 8px -4px rgb(201, 201, 201);
  padding-left: 1em;
  font-size: 1em;
  border: 2px solid black;
}

.submit-button {
  margin-left: -72px;
  border-radius: 5rem;
  border: 0;
  height: 2.1rem;
  width: 5em;
  background-color: #77a98e;
  color: black;
  cursor: pointer;
  font-weight: bold;
}
