.listings {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-items: center;
  justify-self: center;
}

.listings-container {
  padding: 1%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1%;
  align-items: center;
  justify-items: center;
}

.sub-category-option {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 1%;
  border: none;
  width: 10%;
  font-size: 18px;
}